[submodule "third_party/4D-Humans"]
	path = third_party/4D-Humans
	url = https://github.com/ojh6404/4D-Humans.git
	branch = patch-python3.8
[submodule "third_party/hamer"]
	path = third_party/hamer
	url = https://github.com/ojh6404/hamer.git
[submodule "third_party/WiLoR"]
	path = third_party/WiLoR
	url = https://github.com/ojh6404/WiLoR.git
	branch = patch-python3.8
[submodule "third_party/hand_object_detector"]
	path = third_party/hand_object_detector
	url = https://github.com/ojh6404/hand_object_detector.git
